<h1>All the Impossibilists</h1>
<%= link_to '<i class="icon-plus"></i> New List'.html_safe, new_list_path, class: "btn btn-mini" %>
<table>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.title, list %></td>
    <td><%= list.description %></td>
    <td>
      <ul class="inline thumbnails">
        <% list.goals.each do |goal| %>
          <li class="span2">
            <%= link_to image_tag(goal.img_url, class: "img-circle"), list_goal_path(list, goal) %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</table>