<h1>All the Impossibilists</h1>
<%= link_to 'New List', new_list_path, class: "btn btn-mini" %>
<div>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.title, list %></td>
    <td><%= list.description %></td>
    <td>
      <ul class="inline thumbnails">
        <% list.goals.each do |goal| %>
          <li class="span2"><img src=<%= goal.img_url %> class="img-circle"></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</div>
