<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	This is where we tell everyone about ourselves. I guess the first thing I should mention is that we are forgetful. For example we forgot to fill this section out...
	Yup, thats a bit embarassing. please let one of us know so we can correct this mistake.
	Thanks
</p>