<% if signed_in? %>
  <div class="row">
    <div class="span8">
      <section>
        <% if @user.goals.any? %>
          <h4>Goals</h4>
          <ul class="goals">
            <%= render @goals %>
          </ul>
          <%= will_paginate @goals %>
        <% end %>
      </section>
    </div>
    <div class="span4">
      <section>
        <%= render 'shared/goal_form' %>
      </section>
      <h4>Goal Feed</h4>
      this is just a place holder for now, dont forget to fill this out
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Impossible You</h1>

    <h2>
      Achieve more than you thought possible
    </h2>

    <%= link_to "Become the Impossible You!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 