<% provide(:title, @user.name) %>
<div class="row">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <div class="span8">
    <% if @user.goals.any? %>
      <h3>Goals</h3>
      <ul class="goals">
        <%= render @goals %>
      </ul>
      <%= will_paginate @goals %>
    <% end %>
  </div>
</div>