<%= form_for(@goal) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-append">
	  <%= f.text_field :title, placeholder: "Create a new goal..." %>
	  <%= f.submit "Create Goal", class: "btn" %>
	</div>
<% end %>