<li>
  <div class="content">
    <% if goal.completed %>
      <span class="goal_title_completed"><%= goal.title %></span>
    <% else %>
      <span class="goal_title"><%= goal.title %></span>    
    <% end %>

    <%= link_to raw('<i class="icon-edit"></i>'), edit_goal_path(goal) %>
    <% if current_user?(goal.user) %>
    <%= link_to raw('<i class="icon-trash"></i>'), goal_path(goal), 
                                     method: :delete,
                                     data: { confirm: "You sure you want to give up on your dreams?" },
                                     title: goal.title %>
  <% end %>
  </div>
  <br>
</li>