<li>
  <span class="content"><%= goal.title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(goal.created_at) %> ago.
  </span>
  <% if current_user?(goal.user) %>
    <%= link_to "delete", user_goal_path(@user, goal), 
    																 method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: goal.title %>
  <% end %>
</li>